*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.main{
    display: flex;
    min-height: 100vh;
}

.left{
    flex: 1;
    background-color: black;
    color: white;
}

.right{
    flex:1;
    background-color: white;
    color: black;
}